* {
  margin: 0;
  padding: 0;
}

.left {
  position: fixed;
  left: 0%;
  bottom: 0%;
}

.right {
  position: fixed;
  right: 0%;
  bottom: 0%;
}

.count {
  position: fixed;
  top: 35%;
  left: 47%;
  font-size: 200px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: large;
}

button:hover {
  background-color: cadetblue;
}
